header {
    height: 9em;
}

.sender-column {
    display: block;
    width: 40vw;

    text-align: right;
    float: right;
}

.reciever-column {
    display: block;
    width: 40vw;

    float: left;
}