html {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.md-h1 {
    margin: 2px;
    font-size: 2.5em;
}

.md-h2 {
    margin: 4px;
    font-size: 2em;
}

.md-h3 {
    margin: 6px;
    font-size: 1.75em;    
}

.md-h4 {
    margin: 8px;
    font-size: 1.625em; 
}

.md-h5 {
    margin: 10px;
    font-size: 1.55em; 
}

.md-h6 {
    margin: 12px;
    font-size: 1.525em; 
}

.md-txt {
    margin: 16px;
}